/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */
*{
  margin: 0px;
  padding: 0px;
}
 .Navbar ul>li{
  display: inline-block;
  height: 50px;
  width: 20%;
  background-color: aqua;
  
}
.hero{
  height: 500px;
  background-color: rgb(156, 77, 180);
  font-family: sans-serif;
  font-size: medium;
}
.about{
  height: 500px;
  background-color: rgb(209, 175, 219);
  font-family: sans-serif;
  font-size: medium;
}
.projects{
  height: 500px;
  background-color: rgb(209, 175, 219);
  font-family: sans-serif;
  font-size: medium;
}
.contact{
  height: 500px;
  background-color: rgb(209, 175, 219);
  font-family: sans-serif;
  font-size: medium;
}
